<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
         This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ "/books" }}">Books</a></code></li>
        <li>Your template at <code><a href="{{ '/task' }}">task</a></code></li>
    </ul>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
